* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.movie-card {
    text-align: center;
}

.movie-title {
    margin-top: 2rem;
    color: rgb(93, 0, 0);
}

.movie-info-overview-title {
    text-transform: uppercase;
    color: rgb(93, 0, 0);
}

.movie-genres {
    text-transform: uppercase;
    font-weight: bold;
}

.movie-poster-container img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.movie-info-quote {
    font-weight: bold;
}

ul li {
    display: inline-block;
}


ul li a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(93, 0, 0);
}

.footer {
    margin-top: 2rem;
    text-align: center;
}

.container {
    margin: 2rem auto;
    width: 75%;
    text-align: center;
}


.movie-data-list {
    list-style: none;
    line-height: 2rem;
}

span {
    font-weight: bold;
}

img {
    margin-top: 2rem;
    width: 300px;
    border-radius: 5px;
}

form {
    padding: 2rem;
    width: 75%;
    margin: 0 auto;
}

input {
    padding: .2rem;
}

button {
    padding: .2rem;
}

.back-button {
    margin-top: 1rem;
    padding: 1rem;
}